@model Musician

@{ 
    ViewData["Title"] = "Lista wykonawców";
}

@using (Html.BeginForm("Create", "Musicians", FormMethod.Post))
{

    @Html.HiddenFor(model => model.PlaceOfOriginId)

    <div class="form-group">
        @Html.LabelFor(model => model.FullName)
        <div class="col-md">
            @Html.TextBoxFor(model => model.FullName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.YearOfBirth)
        <div class="col-md">
            @Html.TextBoxFor(model => model.YearOfBirth)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.YearOfDeath)
        <br/>
        Niewymagane
        <br/>
        <div class="col-md">
            @Html.TextBoxFor(model => model.YearOfDeath)
        </div>
    </div>

    <div>Pochodzenie:</div>


    <div class="form-group">
        @Html.LabelFor(model => model.PlaceOfOrigin.CityName)
        <div class="col-md">
            @Html.TextBoxFor(model => model.PlaceOfOrigin.CityName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PlaceOfOrigin.CountryName)
        <div class="col-md">
            @Html.TextBoxFor(model => model.PlaceOfOrigin.CountryName)
        </div>
    </div>

    <input type="submit" value="Dodaj wykonawcę" class="btn btn-dark" />
}